.header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 40px;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.header .logotype {
    width: 147px;
    height: 48px;

    /*margin-left: 42px;*/

    background: url("../img/logotype.svg");
}

.header .links {
    display: flex;

    justify-content: center;
    flex: 1 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.header .links a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;

    color: #1F3553;
    text-decoration: none;
    font-weight: 700;
}

.header .links a:hover {
    text-decoration: none;
}

.header .userPanel {
    display: flex;
    height: 100%;
    align-items: center;
}

.header .userPanel .actionCreateOrganization {
    display: inline-flex;
    align-items: center;

    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.header .userPanel .actionCreateOrganization:before {
    content: "";

    background: url("../img/actionCreateOrganization.svg") center no-repeat;
    width: 17px;
    height: 17px;
    margin-right: 8px;
}

.header .userPanel .userInfo {
    display: flex;
    align-items: center;
}

.header .userPanel .userInfo .actionMessages{
    /*hide text*/
    font-size: 0;

    display: block;
    width: 32px;
    height: 30px;
    margin: 0 40px;

    background: url("../img/actionMessages.svg") center no-repeat;
    cursor: pointer;
}

.header .userPanel .userInfo .profileMenu .actionProfileMenu {
    display: flex;

    align-items: center;
    position: relative;

    cursor: pointer;
}

.header .userPanel .userInfo .profileMenu .actionProfileMenu .profileAvatar {
    width: 34px;
    height: 34px;

    margin-right: 6px;

    border-radius: 100%;
    overflow: hidden;
    background: url("../img/defaultUserAvatar.png") center no-repeat;
}

.header .userPanel .userInfo .profileMenu .actionProfileMenu .profileAvatar img {
    width: 100%;
    max-height: 100%;
}

.header .userPanel .userInfo .profileMenu .actionProfileMenu:after {
    content: "";

    display: block;
    width: 12px;
    height: 7px;

    background: url("../img/expandableTriggerArrow.svg") center no-repeat;
    transform: rotate(0deg);
    transition: transform .3s;
}

.header .userPanel .userInfo .profileMenu .actionProfileMenu.expanded:after {
    transform: rotate(-180deg);
}

.header .userPanel .userInfo .profileMenu .profileMenuList {
    width: 320px;

    padding: 10px;
    box-sizing: border-box;

    position: absolute;
    transform: translateX(calc(-50% + 52px));
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid grey;
}

.header .userPanel .userInfo .profileMenu .profileMenuList .action{
    display: block;

    padding: 10px;
    border-bottom: 1px solid grey;
}

.header .userPanel .userInfo .profileMenu .profileMenuList .action:last-child {
    border-bottom: none;
}

.header .userPanel .userInfo .actionLogOut {
    height: 35px;
    min-width: 114px;

    padding: 8px;
    box-sizing: border-box;
    margin-left: 35px;

    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: #EDF5FF;
    color: #2F87FF;
    font-weight: 500;
}