:root {
    --body-background-color: #F4F5F8;
    --footer-background-color: #1F3553;
    --default-font-color: #1F3553;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: var(--body-background-color);
    font-family: "Raleway", sans-serif;
    color: var(--default-font-color);
}

body .header {
    flex: 0 1 auto;
}

body .contentWrapper {
    display: flex;
    flex: 1 1 auto;
}

body .contentWrapper .content {
    width: 100%;
    padding: 60px 80px;
}

body .contentWrapper .content h1.title {
    margin: 0 0 40px;

    font-size: 36px;
    font-weight: 700;
}

body .footer {
    flex: 0 1 auto;
    background-color: var(--footer-background-color);
}

