.sidebar {
    width: 313px;
    min-height: 100%;
    flex: none;

    padding: 80px 0 36px 40px;
    box-sizing: border-box;

    background-color: #ffffff;
    border-right: 1px solid #E6E1EA;
}

.sidebar ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul.menu li.item {
    margin-bottom: 15px;
}

.sidebar ul.menu li.item .action{
    display: flex;
    height: 35px;

    box-sizing: border-box;
    align-items: center;
    padding-left: 35px;
    position: relative;

    background: url("../img/iconNavigationAccount.svg") left center no-repeat;
    font-size: 18px;
    font-weight: 500;
    color: #1F3553;
    cursor: pointer;
    transition: all 0.3s;
}

.sidebar ul.menu li.item .action:after {
    content: "";

    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    background-color: #2F87FF;
    border-radius: 6px 0 0 6px;
    transition: width 0.3s;
}

.sidebar ul.menu li.item .action:hover,
.sidebar ul.menu li.item .action.selected {
    padding-left: 45px;

    background-position: 10px center;
    background-color: #F1F7FF;
    border-radius: 4px 0 0 4px;
    font-weight: 700;
}

.sidebar ul.menu li.item .action:hover:after,
.sidebar ul.menu li.item .action.selected:after {
    width: 6px;
}

.sidebar ul.menu li.item ul.subMenu {
    padding-left: 35px;
    list-style: none;
}

.sidebar ul.menu li.item ul.subMenu li.subItem {
    margin-top: 8px;

    cursor: pointer;
    font-weight: 400;
    transition: font-weight .3s;
}

.sidebar ul.menu li.item ul.subMenu li.subItem .subAction:hover,
.sidebar ul.menu li.item ul.subMenu li.subItem .subAction.selected {
    font-weight: 700;
}